@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

:root{
    --blue1: #0257b9;
    --blue2: #1683ff;
    --menuBg: #eaf4ff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --bg: #fbfefd;
    --shadow: rgba(17, 17, 26,0.1) 2px 2px 16px;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--bg);
}

.sidebar{
    width: 345px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 1.2rem;
}


.sidebar-container{
    height: 100%;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 1.2rem;
    border: 1px solid var(--black2);
}

.sidebar-logo{
    text-align: center;
    margin-bottom: 1rem;
}

.sidebar-logo img{
    width: auto;
    height: 80px;
}


.sidebar-avatar{
    margin: 0 auto;
    width: 220px;
    align-self: center;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    padding: .3rem 1rem;
    border-radius: 7px;
    border: 1px solid var(--black2);
    box-shadow: var(--shadow);
}

.sidebar-avatar img{
    justify-self: center;
    align-self: center;
    width: 30px;
}

.sidebar-avatar-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: .1rem 1rem;
}

.sidebar-avatar-info h4{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--black1);
}

.sidebar-avatar-info small{
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--black2);
}

.sidebar-menu{
    margin: 2rem 0;
}

.sidebar-menu ul li{
    margin-bottom: 1rem;
    display: flex;
}

.sidebar-menu ul li a{
    color: var(--black1);
    width: 220px;
    display: block;
    padding: .5rem .2rem;
    margin: 0 auto;
}

.sidebar-menu ul li.active a{
    background-color: var(--menuBg);
    border-radius: 7px;
    color: var(--blue1);
}

.sidebar-menu a span:first-child{
    display: inline-block;
    margin-left: 1rem;
    margin-right: 0.8rem;
    font-size: 1.5rem;
    color: var(--blue1);
    vertical-align: middle;
}

.sidebar-menu-text{
    font-size: 0.8rem;
    justify-self: center;
    align-self: center;
}

.sidebar-menu ul li:last-child{
    margin: 8rem auto 0 auto;
    width: 140px;
}

.main-content{
    margin-left: 345px;
    width: calc(100vw - 345px);
    padding: 1rem 1.2rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 1.2rem;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content h6{
    padding: .5rem 1.2rem 0 1.2rem;
    margin-top: 10px;
    margin-left: 4.5rem;
}

.content-title{
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
}

.content-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-basis: 45%;
    padding: 5px;
}

.camera-card{
    display: grid;
    height: 40vh;
    width: 60vh;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    align-self: center;
    pointer-events: auto;
    margin: 5px 20px;
}

.camera-card img{
    width: 60vh;
    height: 30vh;
    object-fit: cover;
}

.card-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.card-info p{
    font-size: 12px;
    font-weight: 700;
}

.card-info a{
    width: 100px;
    height: 5vh;
}

.card-info button{
    background: rgb(255, 25, 25);
    background-image: linear-gradient(to bottom, rgb(255, 25, 25), rgb(255, 73, 73));
    border-radius: 28px;
    color: #ffffff;
    font-size: 10px;
    text-decoration: none;
    color: white;
    width: 100px;
    height: 5vh;
    border: none;
    cursor: pointer;
}



