<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <title>Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'login/landing.css' %}" />
</head>

<body>
    <div id="landing-page">
        <header id="header">
            <nav id="nav-bar">
                <a href="#"><img src="{% static 'login/images/logo.png' %}" id="header-img"></a>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="#" class="btn btn-outline-primary active">Home</a>
                    <a href="{% url 'login:aboutus' %}" class="btn btn-outline-primary">About Us</a>
                    <a href="{% url 'login:login' %}" class="btn btn-outline-primary">Login</a>
                </div>
            </nav>
        </header>
        <div class="content">
            <div class="col-40">
                <h2>Let's Break<br><span id="highlight-text">The COVID-19 Chain</span> Together</h2>
            </div>
            <div class="col-60">
                <img id="bg-image" src="{% static 'login/images/bg.png' %}" alt="">
            </div>
        </div>
    </div>
</body>

</html>